create database QL_thuexe
go
USE [QL_thuexe]
GO
ALTER TABLE [dbo].[tbl_xe] DROP CONSTRAINT [FK_tbl_xe_tbl_hangxe1]
GO
ALTER TABLE [dbo].[tbl_phieudk] DROP CONSTRAINT [FK_tbl_phieudk_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_phieudk] DROP CONSTRAINT [FK_tbl_phieudk_tbl_khach]
GO
ALTER TABLE [dbo].[tbl_phatsinhxe] DROP CONSTRAINT [FK_tbl_phatsinhxe_tbl_phieudk2]
GO
ALTER TABLE [dbo].[tbl_nhanvien] DROP CONSTRAINT [FK_tbl_nhanvien_tbl_chucvu]
GO
ALTER TABLE [dbo].[tbl_laplichxe] DROP CONSTRAINT [FK_tbl_laplichxe_tbl_xe]
GO
ALTER TABLE [dbo].[tbl_laplichxe] DROP CONSTRAINT [FK_tbl_laplichxe_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_dinhgia] DROP CONSTRAINT [FK_tbl_dinhgia_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_dinhgia] DROP CONSTRAINT [FK_tbl_dinhgia_tbl_hangxe]
GO
ALTER TABLE [dbo].[tbl_dangkyxe] DROP CONSTRAINT [FK_tbl_dangkyxe_tbl_xe]
GO
ALTER TABLE [dbo].[tbl_dangkyxe] DROP CONSTRAINT [FK_tbl_dangkyxe_tbl_phieudk]
GO
ALTER TABLE [dbo].[ApplicationUserRoles] DROP CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id]
GO
ALTER TABLE [dbo].[ApplicationUserRoles] DROP CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserLogins] DROP CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserGroups] DROP CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationUsers_UserId]
GO
ALTER TABLE [dbo].[ApplicationUserGroups] DROP CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationUserClaims] DROP CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] DROP CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationRoles_RoleId]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] DROP CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationRoles] DROP CONSTRAINT [DF__Applicati__Discr__6A30C649]
GO
/****** Object:  Table [dbo].[tbl_xe]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_xe]
GO
/****** Object:  Table [dbo].[tbl_phieudk]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_phieudk]
GO
/****** Object:  Table [dbo].[tbl_phatsinhxe]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_phatsinhxe]
GO
/****** Object:  Table [dbo].[tbl_nhanvien]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_nhanvien]
GO
/****** Object:  Table [dbo].[tbl_laplichxe]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_laplichxe]
GO
/****** Object:  Table [dbo].[tbl_khach]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_khach]
GO
/****** Object:  Table [dbo].[tbl_hangxe]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_hangxe]
GO
/****** Object:  Table [dbo].[tbl_dinhgia]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_dinhgia]
GO
/****** Object:  Table [dbo].[tbl_dangkyxe]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_dangkyxe]
GO
/****** Object:  Table [dbo].[tbl_chucvu]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[tbl_chucvu]
GO
/****** Object:  Table [dbo].[ApplicationUsers]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[ApplicationUsers]
GO
/****** Object:  Table [dbo].[ApplicationUserRoles]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[ApplicationUserRoles]
GO
/****** Object:  Table [dbo].[ApplicationUserLogins]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[ApplicationUserLogins]
GO
/****** Object:  Table [dbo].[ApplicationUserGroups]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[ApplicationUserGroups]
GO
/****** Object:  Table [dbo].[ApplicationUserClaims]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[ApplicationUserClaims]
GO
/****** Object:  Table [dbo].[ApplicationRoles]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[ApplicationRoles]
GO
/****** Object:  Table [dbo].[ApplicationRoleGroups]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[ApplicationRoleGroups]
GO
/****** Object:  Table [dbo].[ApplicationGroups]    Script Date: 10/5/2020 2:57:31 PM ******/
DROP TABLE [dbo].[ApplicationGroups]
GO
/****** Object:  Table [dbo].[ApplicationGroups]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ApplicationGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationRoleGroups]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationRoleGroups](
	[GroupId] [int] NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[Note] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.ApplicationRoleGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationRoles]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](250) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationUserClaims]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserClaims] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationUserGroups]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserGroups](
	[UserId] [nvarchar](128) NOT NULL,
	[GroupId] [int] NOT NULL,
	[Note] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserGroups] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationUserLogins]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationUserRoles]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[IdentityRole_Id] [nvarchar](128) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationUsers]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](256) NULL,
	[Address] [nvarchar](256) NULL,
	[BirthDay] [datetime] NULL,
	[Email] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_chucvu]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_chucvu](
	[Macv] [nvarchar](3) NOT NULL,
	[Tencv] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[Macv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_dangkyxe]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dangkyxe](
	[Sttphieu] [nvarchar](10) NOT NULL,
	[Sttxe] [nvarchar](3) NOT NULL,
	[Ngaysd] [date] NOT NULL,
	[Tugio] [tinyint] NOT NULL,
	[Dengio] [tinyint] NULL,
 CONSTRAINT [PK_tbl_dangkyxe] PRIMARY KEY CLUSTERED 
(
	[Sttphieu] ASC,
	[Sttxe] ASC,
	[Ngaysd] ASC,
	[Tugio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_dinhgia]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dinhgia](
	[Mahangxe] [nvarchar](1) NOT NULL,
	[Manv] [nvarchar](3) NOT NULL,
	[Thang] [smallint] NOT NULL,
	[Nam] [smallint] NOT NULL,
	[Giathue] [smallmoney] NULL,
 CONSTRAINT [PK_tbl_dinhgia] PRIMARY KEY CLUSTERED 
(
	[Mahangxe] ASC,
	[Manv] ASC,
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_hangxe]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_hangxe](
	[Mahangxe] [nvarchar](1) NOT NULL,
	[Diengiai] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_hangxe] PRIMARY KEY CLUSTERED 
(
	[Mahangxe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_khach]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_khach](
	[Maso] [nvarchar](5) NOT NULL,
	[Hotenkhach] [nvarchar](50) NULL,
	[Sodt] [nvarchar](10) NULL,
	[Socmnd] [nvarchar](10) NULL,
	[Gioitinh] [nvarchar](3) NULL,
 CONSTRAINT [PK_tbl_khach] PRIMARY KEY CLUSTERED 
(
	[Maso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_laplichxe]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_laplichxe](
	[Manv] [nvarchar](3) NOT NULL,
	[Sttxe] [nvarchar](3) NOT NULL,
	[Ngaydukien] [date] NOT NULL,
	[Tugio] [tinyint] NOT NULL,
	[Dengio] [tinyint] NULL,
 CONSTRAINT [PK_tbl_laplichxe_1] PRIMARY KEY CLUSTERED 
(
	[Manv] ASC,
	[Sttxe] ASC,
	[Ngaydukien] ASC,
	[Tugio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_nhanvien]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_nhanvien](
	[Manv] [nvarchar](3) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Gioitinh] [nvarchar](3) NULL,
	[Namsinh] [smallint] NULL,
	[Sodt] [nvarchar](10) NULL,
	[Macv] [nvarchar](3) NULL,
 CONSTRAINT [PK_NHANVIEN_1] PRIMARY KEY CLUSTERED 
(
	[Manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_phatsinhxe]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_phatsinhxe](
	[Sttps] [smallint] NOT NULL,
	[Sttphieu] [nvarchar](10) NULL,
	[Soxedkcu] [nvarchar](3) NULL,
	[Soxethay] [nvarchar](3) NULL,
 CONSTRAINT [PK_tbl_phatsinhxe] PRIMARY KEY CLUSTERED 
(
	[Sttps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_phieudk]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_phieudk](
	[Sttphieu] [nvarchar](10) NOT NULL,
	[Ngayghi] [date] NULL,
	[Manv] [nvarchar](3) NULL,
	[Maso] [nvarchar](5) NULL,
 CONSTRAINT [PK_tbl_phieudk] PRIMARY KEY CLUSTERED 
(
	[Sttphieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_xe]    Script Date: 10/5/2020 2:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_xe](
	[Sttxe] [nvarchar](3) NOT NULL,
	[Banso] [nvarchar](10) NULL,
	[Hieuxe] [nvarchar](20) NULL,
	[Mahangxe] [nvarchar](1) NULL,
 CONSTRAINT [PK_tbl_xe] PRIMARY KEY CLUSTERED 
(
	[Sttxe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApplicationGroups] ON 

INSERT [dbo].[ApplicationGroups] ([ID], [Name], [Description]) VALUES (1, N'Admin', N'Ban quản trị')
INSERT [dbo].[ApplicationGroups] ([ID], [Name], [Description]) VALUES (13, N'Giám đốc', NULL)
INSERT [dbo].[ApplicationGroups] ([ID], [Name], [Description]) VALUES (14, N'Kế toán', NULL)
SET IDENTITY_INSERT [dbo].[ApplicationGroups] OFF
INSERT [dbo].[ApplicationRoleGroups] ([GroupId], [RoleId], [Note]) VALUES (1, N'4792958a-a426-4dc9-98a7-258f18b3a075', NULL)
INSERT [dbo].[ApplicationRoleGroups] ([GroupId], [RoleId], [Note]) VALUES (1, N'4fabc406-3264-43bd-97d2-4d8543c1fe98', NULL)
INSERT [dbo].[ApplicationRoleGroups] ([GroupId], [RoleId], [Note]) VALUES (1, N'b4e05adc-3485-41fe-8703-b3efb15f8b5f', NULL)
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'2e0dd04b-9ac9-49f0-bb8d-4d14adde4dbb', N'Admin', NULL, N'IdentityRole')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'4792958a-a426-4dc9-98a7-258f18b3a075', N'KeToan', N'Kế toán', N'ApplicationRole')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'4fabc406-3264-43bd-97d2-4d8543c1fe98', N'PhoGiamDoc', N'Phó giám đốc', N'ApplicationRole')
INSERT [dbo].[ApplicationUserGroups] ([UserId], [GroupId], [Note]) VALUES (N'29f67400-e295-4736-8728-33e5a9ffd393', 1, NULL)
INSERT [dbo].[ApplicationUserGroups] ([UserId], [GroupId], [Note]) VALUES (N'38166eae-6896-49d3-b00a-95e21a698786', 1, NULL)
INSERT [dbo].[ApplicationUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'03a39ac2-7a75-4775-9846-69ffd80169d3', N'838cd2db-f5e3-4981-9999-c5489a145263', NULL, NULL)
INSERT [dbo].[ApplicationUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'07d22b77-2bc9-4066-b0f4-98cc02ca935e', N'0765f36e-4b97-4564-b6ac-0171e7ed4382', NULL, NULL)
INSERT [dbo].[ApplicationUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'07d22b77-2bc9-4066-b0f4-98cc02ca935e', N'0db0f35c-1ba7-4e3d-ba4b-3540d67708c8', NULL, NULL)
GO
INSERT [dbo].[ApplicationUsers] ([Id], [FullName], [Address], [BirthDay], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'29f67400-e295-4736-8728-33e5a9ffd393', N'NguyenVuLam', NULL, CAST(N'2020-10-02T10:00:00.000' AS DateTime), N'lam@gmail.com', 0, N'ABVKis7Jw9ZAaXOmlen1hoMyzvrr3TrxZoXyyb796NQnkk+Tl/10wWFC6aDQyfhVTQ==', N'7ee1d36f-4546-4adb-862b-28be39708f00', N'0832127407', 0, 0, NULL, 0, 0, N'0001')
INSERT [dbo].[ApplicationUsers] ([Id], [FullName], [Address], [BirthDay], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'38166eae-6896-49d3-b00a-95e21a698786', N'Trần Văn Trường', NULL, CAST(N'2020-10-02T17:00:00.000' AS DateTime), N'truong1@gmail.com', 0, N'AHGN/YCiVq9gnBHTgjJptrwlw14O0HXR52QA89RP0JgdypKzwgRsQQXL+e3rURJdKQ==', N'c953547b-bc8a-4771-a187-d5658feea65d', N'0832127407', 0, 0, NULL, 0, 0, N'001')
INSERT [dbo].[tbl_nhanvien] ([Manv], [Hoten], [Gioitinh], [Namsinh], [Sodt], [Macv]) VALUES (N'001', N'Trần Văn Trường', NULL, NULL, N'0832127407', NULL)
ALTER TABLE [dbo].[ApplicationRoles] ADD  DEFAULT ('') FOR [Discriminator]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ApplicationGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[ApplicationRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationRoles_RoleId]
GO
ALTER TABLE [dbo].[ApplicationUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserClaims] CHECK CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ApplicationGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[ApplicationUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationUsers_UserId]
GO
ALTER TABLE [dbo].[ApplicationUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserLogins] CHECK CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id] FOREIGN KEY([IdentityRole_Id])
REFERENCES [dbo].[ApplicationRoles] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id]
GO
ALTER TABLE [dbo].[tbl_dangkyxe]  WITH CHECK ADD  CONSTRAINT [FK_tbl_dangkyxe_tbl_phieudk] FOREIGN KEY([Sttphieu])
REFERENCES [dbo].[tbl_phieudk] ([Sttphieu])
GO
ALTER TABLE [dbo].[tbl_dangkyxe] CHECK CONSTRAINT [FK_tbl_dangkyxe_tbl_phieudk]
GO
ALTER TABLE [dbo].[tbl_dangkyxe]  WITH CHECK ADD  CONSTRAINT [FK_tbl_dangkyxe_tbl_xe] FOREIGN KEY([Sttxe])
REFERENCES [dbo].[tbl_xe] ([Sttxe])
GO
ALTER TABLE [dbo].[tbl_dangkyxe] CHECK CONSTRAINT [FK_tbl_dangkyxe_tbl_xe]
GO
ALTER TABLE [dbo].[tbl_dinhgia]  WITH CHECK ADD  CONSTRAINT [FK_tbl_dinhgia_tbl_hangxe] FOREIGN KEY([Mahangxe])
REFERENCES [dbo].[tbl_hangxe] ([Mahangxe])
GO
ALTER TABLE [dbo].[tbl_dinhgia] CHECK CONSTRAINT [FK_tbl_dinhgia_tbl_hangxe]
GO
ALTER TABLE [dbo].[tbl_dinhgia]  WITH CHECK ADD  CONSTRAINT [FK_tbl_dinhgia_tbl_nhanvien] FOREIGN KEY([Manv])
REFERENCES [dbo].[tbl_nhanvien] ([Manv])
GO
ALTER TABLE [dbo].[tbl_dinhgia] CHECK CONSTRAINT [FK_tbl_dinhgia_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_laplichxe]  WITH CHECK ADD  CONSTRAINT [FK_tbl_laplichxe_tbl_nhanvien] FOREIGN KEY([Manv])
REFERENCES [dbo].[tbl_nhanvien] ([Manv])
GO
ALTER TABLE [dbo].[tbl_laplichxe] CHECK CONSTRAINT [FK_tbl_laplichxe_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_laplichxe]  WITH CHECK ADD  CONSTRAINT [FK_tbl_laplichxe_tbl_xe] FOREIGN KEY([Sttxe])
REFERENCES [dbo].[tbl_xe] ([Sttxe])
GO
ALTER TABLE [dbo].[tbl_laplichxe] CHECK CONSTRAINT [FK_tbl_laplichxe_tbl_xe]
GO
ALTER TABLE [dbo].[tbl_nhanvien]  WITH CHECK ADD  CONSTRAINT [FK_tbl_nhanvien_tbl_chucvu] FOREIGN KEY([Macv])
REFERENCES [dbo].[tbl_chucvu] ([Macv])
GO
ALTER TABLE [dbo].[tbl_nhanvien] CHECK CONSTRAINT [FK_tbl_nhanvien_tbl_chucvu]
GO
ALTER TABLE [dbo].[tbl_phatsinhxe]  WITH CHECK ADD  CONSTRAINT [FK_tbl_phatsinhxe_tbl_phieudk2] FOREIGN KEY([Sttphieu])
REFERENCES [dbo].[tbl_phieudk] ([Sttphieu])
GO
ALTER TABLE [dbo].[tbl_phatsinhxe] CHECK CONSTRAINT [FK_tbl_phatsinhxe_tbl_phieudk2]
GO
ALTER TABLE [dbo].[tbl_phieudk]  WITH CHECK ADD  CONSTRAINT [FK_tbl_phieudk_tbl_khach] FOREIGN KEY([Maso])
REFERENCES [dbo].[tbl_khach] ([Maso])
GO
ALTER TABLE [dbo].[tbl_phieudk] CHECK CONSTRAINT [FK_tbl_phieudk_tbl_khach]
GO
ALTER TABLE [dbo].[tbl_phieudk]  WITH CHECK ADD  CONSTRAINT [FK_tbl_phieudk_tbl_nhanvien] FOREIGN KEY([Manv])
REFERENCES [dbo].[tbl_nhanvien] ([Manv])
GO
ALTER TABLE [dbo].[tbl_phieudk] CHECK CONSTRAINT [FK_tbl_phieudk_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_xe]  WITH CHECK ADD  CONSTRAINT [FK_tbl_xe_tbl_hangxe1] FOREIGN KEY([Mahangxe])
REFERENCES [dbo].[tbl_hangxe] ([Mahangxe])
GO
ALTER TABLE [dbo].[tbl_xe] CHECK CONSTRAINT [FK_tbl_xe_tbl_hangxe1]
GO
